@model List<DOAN_LTW_HVC.Models.DONHANG>
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container">
    <div class="row justify-content-around my-5">
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá</th>
                </tr>
            </thead>
            @{int i = 1;}
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="vertical-align: middle;">@i</td>
                        <td style="padding: 10px;"><img src="\Images\@item.GIOHANG.SANPHAM.DUONGDAN" width="80px" />@item.GIOHANG.SANPHAM.TENSP</td>
                        <td style="vertical-align: middle;">@item.SL</td>
                        <td style="vertical-align: middle;">@Html.DisplayFor(r => item.THANHTIEN)</td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Tiếp tục mua hàng", "Index", "Products")
    </div>
</div>