@model List<DOAN_LTW_HVC.Models.SANPHAM>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<div class="container">
    <div class="dropdown my-3" style="height:50px">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Giá: @ViewBag.sort
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/products/loaisp?loai=@ViewBag.loai&sort=tang&page=1">Thấp đến cao</a></li>
            <li><a class="dropdown-item" href="/products/loaisp?loai=@ViewBag.loai&sort=giam&page=1">Cao đến thấp</a></li>
        </ul>
    </div>
    <div class="row d-flex f-wrap justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-6 col-md-4 col-lg-3 my-3">
                <a href="/products/detail/@item.MASP" class="text-decoration-none text-black">
                    <div class="card" style="max-width: 18rem; min-width: 10rem; border-radius: 3px; box-shadow: 0 0 10px 5px rgb(221, 226, 230);">
                        @if (item.DUONGDAN == "")
                        {
                            <img src="~/Images/No_Image.jpg" class="card-img-top img-fluid" style="height: 200px; max-width: 100%; object-fit: cover;" alt="@item.TENSP">
                        }
                        else
                        {
                            <img src="\Images\@item.DUONGDAN" class="card-img-top img-fluid" style="height: 200px; max-width: 100%; object-fit: cover;" alt="@item.TENSP">
                        }
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="overflow: hidden; font-size: 100%;">@Html.DisplayFor(row => item.TENSP)</h5>
                            <p class="card-text text-danger">@Html.DisplayFor(row => item.GIA)</p>
                            <p class="card-text text-truncate">@Html.DisplayFor(row => item.MOTA)</p>
                            <div class="mx-auto justify-content-around d-lg-inline d-none">
                                @*<a href="/products/detail/@item.MASP" class="btn btn-dark my-3" style="border-radius: 3px;">Xem chi tiết</a>
                                <a href="/cart/add/@item.MASP" type="button" class="btn btn-outline-danger" style="border-radius: 3px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3" viewBox="0 0 16 16">
                                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"></path>
                                    </svg>
                                </a>*@
                                <form action="/cart/add/@item.MASP" method="post">
                                    <a href="/products/detail/@item.MASP" class="btn btn-dark my-3" style="border-radius: 3px;">Xem chi tiết</a>
                                    <button type="submit" class="btn btn-outline-danger" style="border-radius: 3px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3" viewBox="0 0 16 16">
                                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"></path>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
        @*@foreach (var item in Model)
            {
                <div class="col-12 col-md-6 col-lg-3 my-3">
                    <a href="/products/detail/@item.MASP" class="text-decoration-none text-black">
                        <div class="card" style="width: 18rem;">
                            @if (item.DUONGDAN == "")
                            {
                                <img src="~/Images/No_Image.jpg" class="card-img-top img-fluid" style="height: 250px; object-fit: cover;" alt="@item.TENSP">
                            }
                            else
                            {
                                <img src="\Images\@item.DUONGDAN" class="card-img-top img-fluid" style="height: 250px; object-fit: cover;" alt="@item.TENSP">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@item.TENSP</h5>
                                <p class="card-text">@string.Format("{0:C0}", item.GIA)</p>
                                <p class="card-text text-truncate">@item.MOTA</p>
                                <div class="mx-auto justify-content-around">
                                    <a href="/product/detail/@item.MASP" class="btn btn-primary my-3">Xem chi tiết</a>
                                    <button type="button" class="btn btn-outline-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3" viewBox="0 0 16 16">
                                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }*@
    </div>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link text-danger" href="/products/index?search=/products/loaisp?loai=@ViewBag.loai&sort=@ViewBag.sort1&page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link text-danger" href="/products/loaisp?loai=@ViewBag.loai&sort=@ViewBag.sort1&page=@(i+1)">@(i+1)</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link text-danger" href="/products/loaisp?loai=@ViewBag.loai&sort=@ViewBag.sort1&page=@ViewBag.NoOfPages" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

